.row {
    display: -webkit-box;
    display: -ms-flexbox;

    -ms-flex-wrap: wrap;
}


.col {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
}


.row.reverse-xs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
}

.col.reverse-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
}

.row.start-xs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
}

.row.center-xs {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.row.end-xs {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
}


.row.top-xs {
    -webkit-box-align: start;
    -ms-flex-align: start;
}

.row.middle-xs {
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.row.bottom-xs {
    -webkit-box-align: end;
    -ms-flex-align: end;
}



.row.around-xs {
    -ms-flex-pack: distribute;
}

.row.between-xs {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}


.col.first-xs {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
}

.col.last-xs {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
}


.col.xs-auto {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
}

.col.xs-1 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.333333%;
    -ms-flex: 0 0 8.333333%;
}

.col.xs-2 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.666667%;
    -ms-flex: 0 0 16.666667%;
}

.col.xs-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
}

.col.xs-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
    -ms-flex: 0 0 33.333333%;
}

.col.xs-5 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
    -ms-flex: 0 0 41.666667%;
}

.col.xs-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
}

.col.xs-7 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
    -ms-flex: 0 0 58.333333%;
}

.col.xs-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
}

.col.xs-9 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 75%;
    -ms-flex: 0 0 75%;
}

.col.xs-10 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.333333%;
    -ms-flex: 0 0 83.333333%;
}

.col.xs-11 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 91.666667%;
    -ms-flex: 0 0 91.666667%;
}

@media (min-width: 576px) {
    .row.reverse-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .col.reverse-sm {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }


    .row.start-sm {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    }

    .row.center-sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }

    .row.end-sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    }


    .row.top-sm {
        -webkit-box-align: start;
        -ms-flex-align: start;
    }

    .row.middle-sm {
        -webkit-box-align: center;
        -ms-flex-align: center;
    }

    .row.bottom-sm {
        -webkit-box-align: end;
        -ms-flex-align: end;
    }


    .row.around-sm {
        -ms-flex-pack: distribute;
    }

    .row.between-sm {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }


    .col.first-sm {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
    }

    .col.last-sm {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
    }


    .col.sm-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
    }

    .col.sm-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
    }

    .col.sm-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
    }

    .col.sm-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
    }

    .col.sm-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
    }

    .col.sm-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
    }

    .col.sm-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
    }

    .col.sm-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
    }

    .col.sm-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
    }

    .col.sm-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
    }

    .col.sm-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
    }

    .col.sm-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
    }

    .col.sm-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
    }
}

@media (min-width: 768px) {
    .row.reverse-md {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .col.reverse-md {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }


    .row.start-md {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    }

    .row.center-md {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }

    .row.end-md {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    }


    .row.top-md {
        -webkit-box-align: start;
        -ms-flex-align: start;
    }

    .row.middle-md {
        -webkit-box-align: center;
        -ms-flex-align: center;
    }

    .row.bottom-md {
        -webkit-box-align: end;
        -ms-flex-align: end;
    }


    .row.around-md {
        -ms-flex-pack: distribute;
    }

    .row.between-md {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }


    .col.first-md {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
    }

    .col.last-md {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
    }


    .col.md-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
    }

    .col.md-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
    }

    .col.md-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
    }

    .col.md-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
    }

    .col.md-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
    }

    .col.md-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
    }

    .col.md-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
    }

    .col.md-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
    }

    .col.md-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
    }

    .col.md-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
    }

    .col.md-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
    }

    .col.md-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
    }

    .col.md-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
    }
}

@media (min-width: 992px) {
    .row.reverse-lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .col.reverse-lg {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }


    .row.start-lg {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    }

    .row.center-lg {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }

    .row.end-lg {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    }


    .row.top-lg {
        -webkit-box-align: start;
        -ms-flex-align: start;
    }

    .row.middle-lg {
        -webkit-box-align: center;
        -ms-flex-align: center;
    }

    .row.bottom-lg {
        -webkit-box-align: end;
        -ms-flex-align: end;
    }


    .row.around-lg {
        -ms-flex-pack: distribute;
    }

    .row.between-lg {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }


    .col.first-lg {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
    }

    .col.last-lg {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
    }


    .col.lg-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
    }

    .col.lg-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
    }

    .col.lg-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
    }

    .col.lg-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
    }

    .col.lg-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
    }

    .col.lg-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
    }

    .col.lg-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
    }

    .col.lg-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
    }

    .col.lg-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
    }

    .col.lg-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
    }

    .col.lg-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
    }

    .col.lg-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
    }

    .col.lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
    }
}

@media (min-width: 1200px) {
    .row.reverse-xl {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    }

    .col.reverse-xl {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
    }


    .row.start-xl {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    }

    .row.center-xl {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
    }

    .row.end-xl {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    }


    .row.top-xl {
        -webkit-box-align: start;
        -ms-flex-align: start;
    }

    .row.middle-xl {
        -webkit-box-align: center;
        -ms-flex-align: center;
    }

    .row.bottom-xl {
        -webkit-box-align: end;
        -ms-flex-align: end;
    }


    .row.around-xl {
        -ms-flex-pack: distribute;
    }

    .row.between-xl {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }


    .col.first-xl {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
    }

    .col.last-xl {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
    }


    .col.xl-auto {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
    }

    .col.xl-1 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 8.333333%;
        -ms-flex: 0 0 8.333333%;
    }

    .col.xl-2 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 16.666667%;
        -ms-flex: 0 0 16.666667%;
    }

    .col.xl-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 25%;
        -ms-flex: 0 0 25%;
    }

    .col.xl-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
    }

    .col.xl-5 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 41.666667%;
        -ms-flex: 0 0 41.666667%;
    }

    .col.xl-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
    }

    .col.xl-7 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 58.333333%;
        -ms-flex: 0 0 58.333333%;
    }

    .col.xl-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 66.666667%;
        -ms-flex: 0 0 66.666667%;
    }

    .col.xl-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 75%;
        -ms-flex: 0 0 75%;
    }

    .col.xl-10 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 83.333333%;
        -ms-flex: 0 0 83.333333%;
    }

    .col.xl-11 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 91.666667%;
        -ms-flex: 0 0 91.666667%;
    }

    .col.xl-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
    }
}