* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}

main {
  overflow: hidden;
  position: relative;
  width: 100%;
}

body,
menu, figure,
hr,
button, select, input,
optgroup,
textarea, ul {
  margin: 0;
}

menu, ul,
legend,
button, select, input, textarea {
  padding: 0;
}

button, select, input, textarea {
  font: inherit;
  color: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
}

a,
button,
input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

button, input, select, textarea, [contenteditable='true'] {
  outline: none;
}

textarea {
  resize: none;
}

menu, ul, ol {
  list-style: none;
}

fieldset, button, input, textarea, legend, hr, img {
  border: 0;
}

button, input, textarea {
  background-color: transparent;
}


