.ui {
    box-sizing: border-box;
    display: block;
    position: relative;
}



h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.1;
    color: inherit;
}

h1, .h1,
h2, .h2,
h3, .h3 {
    margin-bottom: 20px;
}

h4, .h4,
h5, .h5,
h6, .h6 {
    margin-bottom: 10px;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 14px;
}

h6,
.h6 {
    font-size: 12px;
}

p {
    margin: 0 0 10px;
}



.separator {
    width: 100%;
    height: 1px;
    background: #9E9E9E;
}



.raised {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.27);
}



.bg-white {
    background-color: #ffffff;
}

.bg-light {
    background-color: #FAFAFA;
}

.bg-extra-light-gray {
    background-color: #F5F5F5;
}

.bg-light-gray {
    background-color: #EEEEEE;
}

.bg-gray {
    background-color: #E0E0E0;
}

.bg-dark-gray {
    background-color: #BDBDBD;
}

.bg-extra-dark-gray {
    background-color: #9E9E9E;
}



button,
.button {
    padding: 10px 15px;
    background: transparent;
    color: #212121;
    transition: background-color .3s ease, color .3s ease, border-color .3s ease;
}

button.flat,
.button.flat {
    background: #F5F5F5;
}

button.raised,
.button.raised {
    background: #F5F5F5;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}

button:hover,
.button:hover {
    background: rgba(0, 0, 0, .3);
}

button.flat:hover,
.button.flat:hover {
    background: #FFFFFF;
}

button.raised:hover,
.button.raised:hover {
    background: #FFFFFF;
}

button hr.impulse,
.button hr.impulse {
    background: rgba(255, 255, 255, .3);
}

button.flat hr.impulse,
.button.flat hr.impulse {
    background: #E0E0E0;
}

button.raised hr.impulse,
.button.raised hr.impulse {
    background: #E0E0E0;
}

button.red ,
.button.red {
    background: transparent;
    color: #F44336;
}

button.flat.red ,
.button.flat.red {
    background: #F44336;
    color: #FFFFFF;
}

button.raised.red ,
.button.raised.red {
    background: #F44336;
    color: #FFFFFF;
}

button.red:hover,
.button.red:hover  {
    background: rgba(244, 67, 54, .3);
}

button.flat.red:hover,
.button.flat.red:hover  {
    background: #E53935;
}

button.raised.red:hover,
.button.raised.red:hover  {
    background: #E53935;
}

button.flat.red hr.impulse,
.button.flat.red hr.impulse {
    background: #EF5350;
}
button.raised.red hr.impulse,
.button.raised.red hr.impulse {
    background: #EF5350;
}


button.green ,
.button.green {
    background: transparent;
    color: #4CAF50;
}
button.flat.green ,
.button.flat.green {
    background: #689F38;
    color: #FFFFFF;
}
button.raised.green ,
.button.raised.green {
    background: #689F38;
    color: #FFFFFF;
}
button.green:hover,
.button.green:hover  {
    background: rgba(104, 159, 56, .3);
}
button.flat.green:hover,
.button.flat.green:hover  {
    background: #558B2F;
}
button.raised.green:hover,
.button.raised.green:hover  {
    background: #558B2F;
}
button.flat.green hr.impulse,
.button.flat.green hr.impulse {
    background: #7CB342;
}
button.raised.green hr.impulse,
.button.raised.green hr.impulse {
    background: #7CB342;
}

button.blue,
.button.blue {
    background: transparent;
    color: #039BE5;
}
button.flat.blue,
.button.flat.blue {
    background: #039BE5;
    color: #FFFFFF;
}
button.raised.blue,
.button.raised.blue {
    background: #039BE5;
    color: #FFFFFF;
}
button.blue:hover,
.button.blue:hover {
    background: rgba(3, 155, 229, .3);
}
button.flat.blue:hover,
.button.flat.blue:hover {
    background: #0288D1;
}
button.raised.blue:hover,
.button.raised.blue:hover {
    background: #0288D1;
}
button.flat.blue hr.impulse,
.button.flat.blue hr.impulse {
    background: #03A9F4;
}
button.raised.blue hr.impulse,
.button.raised.blue hr.impulse {
    background: #03A9F4;
}


button.s.radial,
.button.s.radial {
    min-width: 32px;
    width: 32px;
    max-width: 32px;
}
button.m.radial,
.button.m.radial {
    min-width: 36px;
    width: 36px;
    max-width: 36px;
}
button.l.radial,
.button.l.radial {
    min-width: 40px;
    width: 40px;
    max-width: 40px;
}

button.radial,
.button.radial {
    padding: 0;
    border-radius: 50%;
}

button.icon-right i,
.button.icon-right i {
    margin-left: 15px;
}

button.icon-right.arrow:hover i,
.button.icon-right.arrow:hover i,
button.icon-right.arrow.active i,
.button.icon-right.arrow.active i {
    transform: translateX(5px);
}

button.icon-left i,
.button.icon-left i {
    margin-right: 15px;
}

button.icon-left.arrow:hover i,
.button.icon-left.arrow:hover i,
button.icon-left.arrow.active i,
.button.icon-left.arrow.active i {
    transform: translateX(-5px);
}